<a [routerLink]="['/book-detail', book.id]" class="book-card-link">
  <div class="card-container">
    <div class="card-image">
      <img [src]="book.coverUrl" [alt]="book.title" onError="this.src='https://placehold.co/400x500/e2e8f0/475569?text=Sem+Imagem'">
    </div>
    <div class="card-content">
      <h3>{{ book.title }}</h3>
      <p class="author">{{ book.author }}</p>
      
      <div class="footer">
        <ion-chip [ngClass]="book.condition">
          <ion-label>{{ formatCondition(book.condition) }}</ion-label>
        </ion-chip>
        <span class="donated-by" *ngIf="book.owner">{{ book.owner.name }}</span>
      </div>
    </div>
  </div>
</a>