<ion-content class="ion-padding">
  <div class="bs-container">
    <h1 class="page-title">Redefinir Senha</h1>
    <form [formGroup]="form" (ngSubmit)="onReset()" class="bs-form">
      <ion-item class="input-item">
        <ion-label position="stacked">Nova senha</ion-label>
        <ion-input type="password" formControlName="newPassword" placeholder="mínimo 8 caracteres"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="stacked">Confirmar senha</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading">Salvar nova senha</span>
        <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
      </ion-button>
    </form>
  </div>
</ion-content>
