<ion-content class="ion-padding">
  <div class="recovery-container">
    <h1 class="page-title">Recuperar Senha</h1>

  <form [formGroup]="emailForm" (ngSubmit)="onSendCode()" class="recovery-form">
      <ion-item class="input-item">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="emailForm.invalid || isLoading">
        Enviar código
      </ion-button>
      <ion-note color="medium" class="hint">Enviaremos um código de 6 dígitos para o seu e-mail.</ion-note>
    </form>

    
  </div>
</ion-content>
